<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">ForumApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <!-- Home Page -->
                <li class="nav-item">
                    <NavLink class="nav-link" href="/">Home</NavLink>
                </li>

                <!-- Link to Add User page -->
                <li class="nav-item">
                    <NavLink class="nav-link" href="/AddNewUser">Add New User</NavLink>
                </li>

                <!-- Link to Create Post page -->
                <li class="nav-item">
                    <NavLink class="nav-link" href="/CreatePost">Create Post</NavLink>
                </li>

                <!-- Link to View All Posts page -->
                <li class="nav-item">
                    <NavLink class="nav-link" href="/PostList">View Posts</NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>
